<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style3.css" />
</head>
<body>
    <form method="post" action="/posts">
        <h1>HELLO! </h1>
        <h2>Create A New Quora Post</h2>
        <input placeholder="enter username" name="username" />
    </br>
    </br>
        <textarea placeholder="write a post" name="content" cols="60" rows="10"></textarea>
</br>
</br>
        <button>Submit post</button>
    </form>
</body>
</html>