<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p class="id">post id : <%=post.id %></p>
    <div class="post">
        <h3 class="username">Username &nbsp;: @<%=post.username %></h3>
        <p class="content" > Content &nbsp;:<%=post.content %> </p>
    </br>
</br>
</br>
      <p><button class="heart"> <i class="fa-regular fa-heart"></i>Likes </button></p>
       
        </div>
      

</body>
</html>